In [2]:
import pandas as pd
import os

# Correct relative path
base_path = "../Data/csv/"

# Confirm the files exist
for file in ["leases.csv", "locations.csv", "properties.csv", "tenants.csv", "units.csv"]:
    full_path = os.path.join(base_path, file)
    print(file, "→", os.path.exists(full_path))

# Load the CSVs
leases = pd.read_csv(os.path.join(base_path, "leases.csv"))
locations = pd.read_csv(os.path.join(base_path, "locations.csv"))
properties = pd.read_csv(os.path.join(base_path, "properties.csv"))
tenants = pd.read_csv(os.path.join(base_path, "tenants.csv"))
units = pd.read_csv(os.path.join(base_path, "units.csv"))

# Quick preview of the dataset
for name, df in zip(["leases", "locations", "properties", "tenants", "units"],
                    [leases, locations, properties, tenants, units]):
    print(f"\n{name.upper()} --> {df.shape}")
    print(df.head(2))

leases.csv → True
locations.csv → True
properties.csv → True
tenants.csv → True
units.csv → True

LEASES --> (12, 7)
   id  unit_id  tenant_id  rent_per_month  arrears  start_date    end_date
0   1        1          1           45000        0  01/01/2024         NaN
1   2        2          2           55000     5000  01/11/2023  31/10/2024

LOCATIONS --> (3, 1)
         id;name
0  1;Nairobi CBD
1    2;Westlands

PROPERTIES --> (5, 1)
  id;name;location_id
0     1;NSSF Towers;1
1    2;Delta Corner;2

TENANTS --> (15, 1)
                             id;name;email
0  1;Amina Mwangi;amina.mwangi@example.com
1  2;Brian Otieno;brian.otieno@example.com

UNITS --> (20, 1)
  id;property_id;name;size
0           1;1;A-101;75.0
1           2;1;A-102;80.5

In [3]:
# Re-load with correct delimiter detection
leases = pd.read_csv(os.path.join(base_path, "leases.csv"))  # normal comma-separated
locations = pd.read_csv(os.path.join(base_path, "locations.csv"), sep=';')
properties = pd.read_csv(os.path.join(base_path, "properties.csv"), sep=';')
tenants = pd.read_csv(os.path.join(base_path, "tenants.csv"), sep=';')
units = pd.read_csv(os.path.join(base_path, "units.csv"), sep=';')

for name, df in zip(["leases", "locations", "properties", "tenants", "units"],
                    [leases, locations, properties, tenants, units]):
    print(f"\n{name.upper()} --> {df.shape}")
    print(df.head(2))

LEASES --> (12, 7)
   id  unit_id  tenant_id  rent_per_month  arrears  start_date    end_date
0   1        1          1           45000        0  01/01/2024         NaN
1   2        2          2           55000     5000  01/11/2023  31/10/2024

LOCATIONS --> (3, 2)
   id         name
0   1  Nairobi CBD
1   2    Westlands

PROPERTIES --> (5, 3)
   id          name  location_id
0   1   NSSF Towers            1
1   2  Delta Corner            2

TENANTS --> (15, 3)
   id          name                     email
0   1  Amina Mwangi  amina.mwangi@example.com
1   2  Brian Otieno  brian.otieno@example.com

UNITS --> (20, 4)
   id  property_id   name  size
0   1            1  A-101  75.0
1   2            1  A-102  80.5

In [4]:
for name, df in zip(
    ["leases", "locations", "properties", "tenants", "units"],
    [leases, locations, properties, tenants, units]
):
    print(f"\n{name.upper()} columns:")
    print(df.columns.tolist())

LEASES columns:
['id', 'unit_id', 'tenant_id', 'rent_per_month', 'arrears', 'start_date', 'end_date']

LOCATIONS columns:
['id', 'name']

PROPERTIES columns:
['id', 'name', 'location_id']

TENANTS columns:
['id', 'name', 'email']

UNITS columns:
['id', 'property_id', 'name', 'size']

In [ ]:
# Merge properties with locations
prop_loc = properties.merge(
    locations,
    left_on="location_id",
    right_on="id",
    suffixes=("_property", "_location"),
    how="outer"
)
print("prop_loc.....", prop_loc.head())
prop_loc.head()
# Merge units with properties + locations
unit_prop_loc = units.merge(
    prop_loc,
    left_on="property_id",
    right_on="id_property",
    how="outer"
)
# Merge leases with tenants/
lease_tenant = leases.merge(
    tenants,
    left_on="tenant_id",
    right_on="id",
    suffixes=("_lease", "_tenant"),
    how="outer"
)

# Merge everything together
merged_df = lease_tenant.merge(
    unit_prop_loc,
    left_on="unit_id",
    right_on="id"
)

# Drop redundant ID columns
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

print("Final merged shape:", merged_df.shape)
merged_df.head(5)

prop_loc.....    id_property            name_property  location_id  id_location  \
0            1              NSSF Towers            1            1
1            5            Kimathi House            1            1
2            2             Delta Corner            2            2
3            4          Riverside Court            2            2
4            3  The Junction Residences            3            3

  name_location
0   Nairobi CBD
1   Nairobi CBD
2     Westlands
3     Westlands
4      Kilimani
Final merged shape: (12, 19)

,id_lease,unit_id,tenant_id,rent_per_month,arrears,start_date,end_date,id_tenant,name_x,email,id,property_id,name_y,size,id_property,name_property,location_id,id_location,name_location
0,1.0,1.0,1.0,45000.0,0.0,01/01/2024,NaN,1,Amina Mwangi,amina.mwangi@example.com,1,1,A-101,75.0,1,NSSF Towers,1,1,Nairobi CBD
1,2.0,2.0,2.0,55000.0,5000.0,01/11/2023,31/10/2024,2,Brian Otieno,brian.otieno@example.com,2,1,A-102,80.5,1,NSSF Towers,1,1,Nairobi CBD
2,10.0,10.0,2.0,-45000.0,1000.0,01/02/2024,31/12/2024,2,Brian Otieno,brian.otieno@example.com,10,2,DC-3A,73.5,2,Delta Corner,2,2,Westlands
3,3.0,3.0,3.0,65000.0,-2000.0,01/02/2024,NaN,3,Carol Wanjiru,carol.wanjiru@example.com,3,1,B-201,65.0,1,NSSF Towers,1,1,Nairobi CBD
4,5.0,5.0,3.0,70000.0,0.0,01/02/2025,31/12/2025,3,Carol Wanjiru,carol.wanjiru@example.com,5,1,C-301,120.0,1,NSSF Towers,1,1,Nairobi CBD

In [6]:
clean_df = merged_df.copy()

# Rename columns for clarity
clean_df = clean_df.rename(columns={
    "id_lease": "lease_id",
    "name_x": "tenant_name",
    "name_y": "unit_name",
    "name_property": "property_name",
    "name_location": "location_name"
})

# Drop redundant ID columns
cols_to_drop = [
    "tenant_id", "id_tenant", "id", "property_id",
    "id_property", "id_location", "location_id"
]
clean_df = clean_df.drop(columns=cols_to_drop, errors="ignore")

clean_df = clean_df[
    [
        "lease_id", "tenant_name", "email", "unit_name", "size",
        "property_name", "location_name",
        "rent_per_month", "arrears", "start_date", "end_date"
    ]
]

print("Cleaned shape:", clean_df.shape)
clean_df.head(5)

Cleaned shape: (12, 11)

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,01/01/2024,NaN
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,01/11/2023,31/10/2024
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,-45000.0,1000.0,01/02/2024,31/12/2024
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,01/02/2024,NaN
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,01/02/2025,31/12/2025

In [7]:
# Convert any negative rent_per_month to positive
clean_df["rent_per_month"] = clean_df["rent_per_month"].abs()
clean_df.head(15)

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,01/01/2024,NaN
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,01/11/2023,31/10/2024
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,01/02/2024,31/12/2024
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,01/02/2024,NaN
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,01/02/2025,31/12/2025
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,01/03/2024,NaN
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,15/06/2024,14/06/2025
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,01/08/2024,31/07/2024
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,01/09/2023,NaN
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,01/01/2025,NaN
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,01/05/2023,30/04/2024
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,01/10/2024,30/09/2025

In [8]:
# Convert to datetime (coerce invalids to NaT)
clean_df["start_date"] = pd.to_datetime(clean_df["start_date"], errors="coerce", dayfirst=True)
clean_df["end_date"] = pd.to_datetime(clean_df["end_date"], errors="coerce", dayfirst=True)
clean_df.head(15)

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30

In [9]:
# Calculate lease_duration_months
today = pd.Timestamp.today()
clean_df["lease_duration_months"] = (
    ((clean_df["end_date"].fillna(today)) - clean_df["start_date"]).dt.days / 30
).round(1).abs()

clean_df

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date,lease_duration_months
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT,22.6
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31,12.2
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31,11.1
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT,21.6
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31,11.1
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT,20.6
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14,12.1
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31,0.0
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT,26.7
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT,10.4
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30,12.2
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30,12.1

In [10]:
# Determine lease_status
def lease_status(row):
    if pd.isna(row["start_date"]):
        return "invalid"
    elif pd.isna(row["end_date"]) or row["end_date"] >= today:
        return "ongoing"
    elif row["end_date"] < today:
        return "expired"
    else:
        return "invalid"

clean_df["lease_status"] = clean_df.apply(lease_status, axis=1)
clean_df

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date,lease_duration_months,lease_status
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT,22.6,ongoing
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31,12.2,expired
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31,11.1,expired
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT,21.6,ongoing
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31,11.1,ongoing
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT,20.6,ongoing
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14,12.1,expired
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31,0.0,expired
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT,26.7,ongoing
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT,10.4,ongoing
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30,12.2,expired
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30,12.1,expired

In [11]:
# Create valid_lease flag
import numpy as np
clean_df["valid_lease"] = np.where(
    ((clean_df["start_date"] <= today) &
     ((clean_df["end_date"].isna()) | (clean_df["start_date"] < clean_df["end_date"]))),
    1, 0
)
clean_df

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date,lease_duration_months,lease_status,valid_lease
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT,22.6,ongoing,1
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31,12.2,expired,1
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31,11.1,expired,1
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT,21.6,ongoing,1
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31,11.1,ongoing,1
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT,20.6,ongoing,1
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14,12.1,expired,1
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31,0.0,expired,0
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT,26.7,ongoing,1
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT,10.4,ongoing,1
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30,12.2,expired,1
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30,12.1,expired,1

In [12]:
# Calculate annual rent 
clean_df["annual_rent"] = clean_df["rent_per_month"] * 12
clean_df

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date,lease_duration_months,lease_status,valid_lease,annual_rent
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT,22.6,ongoing,1,540000.0
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31,12.2,expired,1,660000.0
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31,11.1,expired,1,540000.0
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT,21.6,ongoing,1,780000.0
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31,11.1,ongoing,1,840000.0
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT,20.6,ongoing,1,360000.0
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14,12.1,expired,1,480000.0
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31,0.0,expired,0,624000.0
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT,26.7,ongoing,1,456000.0
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT,10.4,ongoing,1,720000.0
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30,12.2,expired,1,372000.0
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30,12.1,expired,1,564000.0

In [13]:
#  Standardize location names to Proper Case 
if "name_location" in clean_df.columns:
    clean_df["name_location"] = clean_df["name_location"].str.title()
clean_df

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date,lease_duration_months,lease_status,valid_lease,annual_rent
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT,22.6,ongoing,1,540000.0
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31,12.2,expired,1,660000.0
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31,11.1,expired,1,540000.0
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT,21.6,ongoing,1,780000.0
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31,11.1,ongoing,1,840000.0
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT,20.6,ongoing,1,360000.0
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14,12.1,expired,1,480000.0
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31,0.0,expired,0,624000.0
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT,26.7,ongoing,1,456000.0
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT,10.4,ongoing,1,720000.0
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30,12.2,expired,1,372000.0
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30,12.1,expired,1,564000.0

In [14]:
# Handle duplicates
clean_df = clean_df.drop_duplicates()
clean_df

,lease_id,tenant_name,email,unit_name,size,property_name,location_name,rent_per_month,arrears,start_date,end_date,lease_duration_months,lease_status,valid_lease,annual_rent
0,1.0,Amina Mwangi,amina.mwangi@example.com,A-101,75.0,NSSF Towers,Nairobi CBD,45000.0,0.0,2024-01-01,NaT,22.6,ongoing,1,540000.0
1,2.0,Brian Otieno,brian.otieno@example.com,A-102,80.5,NSSF Towers,Nairobi CBD,55000.0,5000.0,2023-11-01,2024-10-31,12.2,expired,1,660000.0
2,10.0,Brian Otieno,brian.otieno@example.com,DC-3A,73.5,Delta Corner,Westlands,45000.0,1000.0,2024-02-01,2024-12-31,11.1,expired,1,540000.0
3,3.0,Carol Wanjiru,carol.wanjiru@example.com,B-201,65.0,NSSF Towers,Nairobi CBD,65000.0,-2000.0,2024-02-01,NaT,21.6,ongoing,1,780000.0
4,5.0,Carol Wanjiru,carol.wanjiru@example.com,C-301,120.0,NSSF Towers,Nairobi CBD,70000.0,0.0,2025-02-01,2025-12-31,11.1,ongoing,1,840000.0
5,4.0,David Kiptoo,david.kiptoo@example.com,B-202,92.0,NSSF Towers,Nairobi CBD,30000.0,1000.0,2024-03-01,NaT,20.6,ongoing,1,360000.0
6,6.0,Eunice Njeri,eunice.njeri@example.com,DC-1A,55.0,Delta Corner,Westlands,40000.0,8000.0,2024-06-15,2025-06-14,12.1,expired,1,480000.0
7,7.0,Farah Hassan,farah.hassan@example.com,DC-1B,60.0,Delta Corner,Westlands,52000.0,0.0,2024-08-01,2024-07-31,0.0,expired,0,624000.0
8,8.0,George Ouma,george.ouma@example.com,DC-2A,85.0,Delta Corner,Westlands,38000.0,12000.0,2023-09-01,NaT,26.7,ongoing,1,456000.0
9,9.0,Hannah Achieng,hannah.achieng@example.com,DC-2B,100.0,Delta Corner,Westlands,60000.0,0.0,2025-01-01,NaT,10.4,ongoing,1,720000.0
10,11.0,Ian Wachira,ian.wachira@example.com,JR-101,48.0,The Junction Residences,Kilimani,31000.0,0.0,2023-05-01,2024-04-30,12.2,expired,1,372000.0
11,12.0,Joy Wambui,joy.wambui@example.com,JR-102,52.0,The Junction Residences,Kilimani,47000.0,3000.0,2024-10-01,2025-09-30,12.1,expired,1,564000.0

In [15]:
#  Identify missing values 
missing_summary = df.isna().sum().reset_index()
missing_summary.columns = ["column", "missing_count"]
print("Missing value summary:")
display(missing_summary[missing_summary["missing_count"] > 0])

Missing value summary:

Empty DataFrame
Columns: [column, missing_count]
Index: []

In [19]:
#  Export cleaned dataset
# import openpyxl

output_path = r"C:\Users\samue\Documents\Dev\Data Analytics\Code\NW_Realite_Assessment\Deliverables\Cleaned_Data_Samuel_Wanyua2.csv"
clean_df.to_csv(output_path, index=False)
print(f" Cleaned data saved to: {output_path}")

OSError: Cannot save file into a non-existent directory: 'C:\Users\samue\Documents\Dev\Data Analytics\Code\NW_Realite_Assessment\Deliverables'

In [ ]:
import openpyxl
import pandas as pd

output_path = r"C:\Users\samue\Documents\Dev\Data Analytics\Code\NW_Realite_Assessment\Deliverables\Cleaned_Data_Samuel_Wanyua.xlsx"

# Export to Excel
clean_df.to_excel(output_path, index=False, engine="openpyxl")

print(f"Cleaned data saved successfully to: {output_path}")

Cleaned data saved successfully to: C:\Users\samue\Documents\Dev\Data Analytics\Code\NW_Realite_Assessment\Deliverables\Cleaned_Data_Samuel_Wanyua.xlsx

In [ ]:
print(f"""
Summary Insights

- Total leases: {len(clean_df)}
- Ongoing leases: {(clean_df['lease_status'].str.lower() == 'ongoing').sum()}
- Expired leases: {(clean_df['lease_status'].str.lower() == 'expired').sum()}
- Invalid leases: {(clean_df['lease_status'].str.lower() == 'invalid').sum()}
- Average monthly rent: KES {clean_df['rent_per_month'].mean():,.2f}
- Total annual rent potential: KES {clean_df['annual_rent'].sum():,.2f}
""")

Summary Insights

- Total leases: 12
- Ongoing leases: 6
- Expired leases: 6
- Invalid leases: 0
- Average monthly rent: KES 48,166.67
- Total annual rent potential: KES 6,936,000.00